#box{
    height:550px;
    width:900px;
    background-color: aquamarine;
    margin:auto;
}
#rollPlayer1,#rollPlayer2{
    margin-left: 100px;
    margin-top: 100px;

  
}

#dice1{
    height:350px;
    float: left;
    width:30%;
    background-color:yellow;
   margin-left: 100px;
   margin-right: 100px;
   margin-top: 50px;
}
#dice2{
    height:350px;
    width:30%;
    background-color:yellow;
    
    margin-right: 100px;
    float: left;
    margin-top: 50px;
}
#win{
    margin-left: 390px;
    margin-top: 40px;
}
#div{
    height:300px;
    width:300px;
}
.display{
  visibility: hidden ;
}

#start{
    visibility: visible;
}
body{
    background-image: url("back.jpg"); 
}
#hold{
    margin-left: 390px;
    margin-top: 40px;
}
